html,body {
    margin: 0px;
    background-color:#f0a53d;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Navbar code starts here  */
.top-nav {
    position: sticky;
    display: flex;
    flex-direction: row;
    height: 62px;
    box-shadow: 0 1px 22px 0 rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    background-color: #f3f0ec;
}

.side-nav {
    align-self: flex-start;
    flex-basis: 36%;
}

.nav-header {
    font-size: 30px;
    font-weight: bold;
    color:  black;
    font-family: 'Bitter', serif;
}

.center-nav {
   flex-basis: 35%;
}

.end-nav { 
    flex-basis: 27%;
    display: flex;
    flex-direction: row;
    margin: 0; 
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Bitter', serif;
    height: 100%;
}

.list li {
    padding: 1em;
}
p{
    font-size: 20px;
}
.container{
    background-image: url("");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding-bottom: 20px;
    position: relative;
    overflow-x: hidden;
}
.row {
    color: #f3f0ec;
}
.card-text , .card-title{
    color: black;
}
.card-body{
    background-color: #f3f0ec;
}
.custom-control-label{
    color:black ;
}
.order-overlay{
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 20px;
    padding-left: 6%;
}
.order{
    background-attachment: fixed;
    background-image: url("/images/pizza-4952509.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
  }
  th ,.custom-control-label{
      color: #f3f0ec;
  }
.controls-top{
    color: #f3f0ec;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width