.top-nav {
    display: flex;
    flex-direction: row;
    height: 27px;
    height: 70px;
    box-shadow: 0 1px 22px 0 rgba(255, 255, 255, 0.7);
    background-color: rgb(238, 43, 29);
    position: sticky;
    padding: 0em;
  }
  .nav-header {
    font-size: 26px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: serif;
    padding: 0px 0;
  }
  .li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .li a {
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-weight: bold;
    font-family: "Bitter", serif;
    height: 100%;
    font-size: 32px;
  }
  h2{
      font-size: 50px;
  }
  body{
      color: red;
  }